In [2]:
import numpy as np
import pandas as pd

In [3]:
abb = pd.read_csv('./state-abbrevs.csv')

In [4]:
area = pd.read_csv('./state-areas.csv')

In [7]:
popu = pd.read_csv('./state-population.csv')

In [12]:
data=pd.merge(abb,popu,left_on='abbreviation',right_on='state/region',how='outer')
data

        state abbreviation state/region     ages  year   population
0     Alabama           AL           AL  under18  2012    1117489.0
1     Alabama           AL           AL    total  2012    4817528.0
2     Alabama           AL           AL  under18  2010    1130966.0
3     Alabama           AL           AL    total  2010    4785570.0
4     Alabama           AL           AL  under18  2011    1125763.0
5     Alabama           AL           AL    total  2011    4801627.0
6     Alabama           AL           AL    total  2009    4757938.0
7     Alabama           AL           AL  under18  2009    1134192.0
8     Alabama           AL           AL  under18  2013    1111481.0
9     Alabama           AL           AL    total  2013    4833722.0
10    Alabama           AL           AL    total  2007    4672840.0
11    Alabama           AL           AL  under18  2007    1132296.0
12    Alabama           AL           AL    total  2008    4718206.0
13    Alabama           AL           AL  under18  2008    1134927.0
14    Alabama           AL           AL    total  2005    4569805.0
15    Alabama           AL           AL  under18  2005    1117229.0
16    Alabama           AL           AL    total  2006    4628981.0
17    Alabama           AL           AL  under18  2006    1126798.0
18    Alabama           AL           AL    total  2004    4530729.0
19    Alabama           AL           AL  under18  2004    1113662.0
20    Alabama           AL           AL    total  2003    4503491.0
21    Alabama           AL           AL  under18  2003    1113083.0
22    Alabama           AL           AL    total  2001    4467634.0
23    Alabama           AL           AL  under18  2001    1120409.0
24    Alabama           AL           AL    total  2002    4480089.0
25    Alabama           AL           AL  under18  2002    1116590.0
26    Alabama           AL           AL  under18  1999    1121287.0
27    Alabama           AL           AL    total  1999    4430141.0
28    Alabama           AL           AL    total  2000    4452173.0
29    Alabama           AL           AL  under18  2000    1122273.0
...       ...          ...          ...      ...   ...          ...
2514      NaN          NaN          USA  under18  1999   71946051.0
2515      NaN          NaN          USA    total  2000  282162411.0
2516      NaN          NaN          USA  under18  2000   72376189.0
2517      NaN          NaN          USA    total  1999  279040181.0
2518      NaN          NaN          USA    total  2001  284968955.0
2519      NaN          NaN          USA  under18  2001   72671175.0
2520      NaN          NaN          USA    total  2002  287625193.0
2521      NaN          NaN          USA  under18  2002   72936457.0
2522      NaN          NaN          USA    total  2003  290107933.0
2523      NaN          NaN          USA  under18  2003   73100758.0
2524      NaN          NaN          USA    total  2004  292805298.0
2525      NaN          NaN          USA  under18  2004   73297735.0
2526      NaN          NaN          USA    total  2005  295516599.0
2527      NaN          NaN          USA  under18  2005   73523669.0
2528      NaN          NaN          USA    total  2006  298379912.0
2529      NaN          NaN          USA  under18  2006   73757714.0
2530      NaN          NaN          USA    total  2007  301231207.0
2531      NaN          NaN          USA  under18  2007   74019405.0
2532      NaN          NaN          USA    total  2008  304093966.0
2533      NaN          NaN          USA  under18  2008   74104602.0
2534      NaN          NaN          USA  under18  2013   73585872.0
2535      NaN          NaN          USA    total  2013  316128839.0
2536      NaN          NaN          USA    total  2009  306771529.0
2537      NaN          NaN          USA  under18  2009   74134167.0
2538      NaN          NaN          USA  under18  2010   74119556.0
2539      NaN          NaN          USA    total  2010  309326295.0
2540      NaN          NaN          USA  under18  2011   73902222.0
2541      NaN          NaN          USA    total  2011  311582564.0
2542      NaN          NaN          USA  under18  2012   73708179.0
2543      NaN          NaN          USA    total  2012  313873685.0

[2544 rows x 6 columns]

In [15]:
new_data = data.drop(columns='abbreviation')
new_data

        state state/region     ages  year   population
0     Alabama           AL  under18  2012    1117489.0
1     Alabama           AL    total  2012    4817528.0
2     Alabama           AL  under18  2010    1130966.0
3     Alabama           AL    total  2010    4785570.0
4     Alabama           AL  under18  2011    1125763.0
5     Alabama           AL    total  2011    4801627.0
6     Alabama           AL    total  2009    4757938.0
7     Alabama           AL  under18  2009    1134192.0
8     Alabama           AL  under18  2013    1111481.0
9     Alabama           AL    total  2013    4833722.0
10    Alabama           AL    total  2007    4672840.0
11    Alabama           AL  under18  2007    1132296.0
12    Alabama           AL    total  2008    4718206.0
13    Alabama           AL  under18  2008    1134927.0
14    Alabama           AL    total  2005    4569805.0
15    Alabama           AL  under18  2005    1117229.0
16    Alabama           AL    total  2006    4628981.0
17    Alabama           AL  under18  2006    1126798.0
18    Alabama           AL    total  2004    4530729.0
19    Alabama           AL  under18  2004    1113662.0
20    Alabama           AL    total  2003    4503491.0
21    Alabama           AL  under18  2003    1113083.0
22    Alabama           AL    total  2001    4467634.0
23    Alabama           AL  under18  2001    1120409.0
24    Alabama           AL    total  2002    4480089.0
25    Alabama           AL  under18  2002    1116590.0
26    Alabama           AL  under18  1999    1121287.0
27    Alabama           AL    total  1999    4430141.0
28    Alabama           AL    total  2000    4452173.0
29    Alabama           AL  under18  2000    1122273.0
...       ...          ...      ...   ...          ...
2514      NaN          USA  under18  1999   71946051.0
2515      NaN          USA    total  2000  282162411.0
2516      NaN          USA  under18  2000   72376189.0
2517      NaN          USA    total  1999  279040181.0
2518      NaN          USA    total  2001  284968955.0
2519      NaN          USA  under18  2001   72671175.0
2520      NaN          USA    total  2002  287625193.0
2521      NaN          USA  under18  2002   72936457.0
2522      NaN          USA    total  2003  290107933.0
2523      NaN          USA  under18  2003   73100758.0
2524      NaN          USA    total  2004  292805298.0
2525      NaN          USA  under18  2004   73297735.0
2526      NaN          USA    total  2005  295516599.0
2527      NaN          USA  under18  2005   73523669.0
2528      NaN          USA    total  2006  298379912.0
2529      NaN          USA  under18  2006   73757714.0
2530      NaN          USA    total  2007  301231207.0
2531      NaN          USA  under18  2007   74019405.0
2532      NaN          USA    total  2008  304093966.0
2533      NaN          USA  under18  2008   74104602.0
2534      NaN          USA  under18  2013   73585872.0
2535      NaN          USA    total  2013  316128839.0
2536      NaN          USA    total  2009  306771529.0
2537      NaN          USA  under18  2009   74134167.0
2538      NaN          USA  under18  2010   74119556.0
2539      NaN          USA    total  2010  309326295.0
2540      NaN          USA  under18  2011   73902222.0
2541      NaN          USA    total  2011  311582564.0
2542      NaN          USA  under18  2012   73708179.0
2543      NaN          USA    total  2012  313873685.0

[2544 rows x 5 columns]

In [21]:
new_data.isnull().any(axis=0)  #查存在缺失数据的列

state            True
state/region    False
ages            False
year            False
population       True
dtype: bool

In [47]:
#找到有哪些state/region的state的值为NaN，进行去重操作
#unique()去重
index = new_data['state'][new_data['state'].isnull()].index  #空值的index列表
s = new_data.iloc[index]['state/region']
s.unique() #去重操作

array(['PR', 'USA'], dtype=object)

In [58]:
#为找到的这些state/region的state项补上正确的值，从而去除掉state这一列的所有NaN
index_list = new_data['state'][new_data['state'].isnull()].index
new_data.iloc[index_list]['state/region'].unique()

array(['PR', 'USA'], dtype=object)

In [73]:
con = new_data['state/region']=='USA'
new_data.loc[con,'state']='UnitedState'
new_data

            state state/region     ages  year   population
0         Alabama           AL  under18  2012    1117489.0
1         Alabama           AL    total  2012    4817528.0
2         Alabama           AL  under18  2010    1130966.0
3         Alabama           AL    total  2010    4785570.0
4         Alabama           AL  under18  2011    1125763.0
5         Alabama           AL    total  2011    4801627.0
6         Alabama           AL    total  2009    4757938.0
7         Alabama           AL  under18  2009    1134192.0
8         Alabama           AL  under18  2013    1111481.0
9         Alabama           AL    total  2013    4833722.0
10        Alabama           AL    total  2007    4672840.0
11        Alabama           AL  under18  2007    1132296.0
12        Alabama           AL    total  2008    4718206.0
13        Alabama           AL  under18  2008    1134927.0
14        Alabama           AL    total  2005    4569805.0
15        Alabama           AL  under18  2005    1117229.0
16        Alabama           AL    total  2006    4628981.0
17        Alabama           AL  under18  2006    1126798.0
18        Alabama           AL    total  2004    4530729.0
19        Alabama           AL  under18  2004    1113662.0
20        Alabama           AL    total  2003    4503491.0
21        Alabama           AL  under18  2003    1113083.0
22        Alabama           AL    total  2001    4467634.0
23        Alabama           AL  under18  2001    1120409.0
24        Alabama           AL    total  2002    4480089.0
25        Alabama           AL  under18  2002    1116590.0
26        Alabama           AL  under18  1999    1121287.0
27        Alabama           AL    total  1999    4430141.0
28        Alabama           AL    total  2000    4452173.0
29        Alabama           AL  under18  2000    1122273.0
...           ...          ...      ...   ...          ...
2514  UnitedState          USA  under18  1999   71946051.0
2515  UnitedState          USA    total  2000  282162411.0
2516  UnitedState          USA  under18  2000   72376189.0
2517  UnitedState          USA    total  1999  279040181.0
2518  UnitedState          USA    total  2001  284968955.0
2519  UnitedState          USA  under18  2001   72671175.0
2520  UnitedState          USA    total  2002  287625193.0
2521  UnitedState          USA  under18  2002   72936457.0
2522  UnitedState          USA    total  2003  290107933.0
2523  UnitedState          USA  under18  2003   73100758.0
2524  UnitedState          USA    total  2004  292805298.0
2525  UnitedState          USA  under18  2004   73297735.0
2526  UnitedState          USA    total  2005  295516599.0
2527  UnitedState          USA  under18  2005   73523669.0
2528  UnitedState          USA    total  2006  298379912.0
2529  UnitedState          USA  under18  2006   73757714.0
2530  UnitedState          USA    total  2007  301231207.0
2531  UnitedState          USA  under18  2007   74019405.0
2532  UnitedState          USA    total  2008  304093966.0
2533  UnitedState          USA  under18  2008   74104602.0
2534  UnitedState          USA  under18  2013   73585872.0
2535  UnitedState          USA    total  2013  316128839.0
2536  UnitedState          USA    total  2009  306771529.0
2537  UnitedState          USA  under18  2009   74134167.0
2538  UnitedState          USA  under18  2010   74119556.0
2539  UnitedState          USA    total  2010  309326295.0
2540  UnitedState          USA  under18  2011   73902222.0
2541  UnitedState          USA    total  2011  311582564.0
2542  UnitedState          USA  under18  2012   73708179.0
2543  UnitedState          USA    total  2012  313873685.0

[2544 rows x 5 columns]

In [78]:
#合并各州面积数据areas
area['area (sq. mi)'].sum()

3790399

In [91]:
#我们会发现area(sq.mi)这一列有缺失数据，找出是哪些行
area[area['area (sq. mi)'].isnull()].index

Int64Index([], dtype='int64')

In [114]:
#去除含有缺失数据的行
area.dropna(axis=1)

                   state  area (sq. mi)
0                Alabama          52423
1                 Alaska         656425
2                Arizona         114006
3               Arkansas          53182
4             California         163707
5               Colorado         104100
6            Connecticut           5544
7               Delaware           1954
8                Florida          65758
9                Georgia          59441
10                Hawaii          10932
11                 Idaho          83574
12              Illinois          57918
13               Indiana          36420
14                  Iowa          56276
15                Kansas          82282
16              Kentucky          40411
17             Louisiana          51843
18                 Maine          35387
19              Maryland          12407
20         Massachusetts          10555
21              Michigan          96810
22             Minnesota          86943
23           Mississippi          48434
24              Missouri          69709
25               Montana         147046
26              Nebraska          77358
27                Nevada         110567
28         New Hampshire           9351
29            New Jersey           8722
30            New Mexico         121593
31              New York          54475
32        North Carolina          53821
33          North Dakota          70704
34                  Ohio          44828
35              Oklahoma          69903
36                Oregon          98386
37          Pennsylvania          46058
38          Rhode Island           1545
39        South Carolina          32007
40          South Dakota          77121
41             Tennessee          42146
42                 Texas         268601
43                  Utah          84904
44               Vermont           9615
45              Virginia          42769
46            Washington          71303
47         West Virginia          24231
48             Wisconsin          65503
49               Wyoming          97818
50  District of Columbia             68
51           Puerto Rico           3515

In [120]:
#找出2010年的全民人口数据
popu[popu['year']==2010]['population'].sum()

771509855.0

In [152]:
#计算各州的人口密度
new_data = pd.merge(new_data,area)
new_data['ave']=new_data['population']/new_data['area (sq. mi)']
new_data

,state,state/region,ages,year,population,area (sq. mi),ave
0,Alabama,AL,under18,2012,1117489.0,52423,21.316769
1,Alabama,AL,total,2012,4817528.0,52423,91.897221
2,Alabama,AL,under18,2010,1130966.0,52423,21.573851
3,Alabama,AL,total,2010,4785570.0,52423,91.287603
4,Alabama,AL,under18,2011,1125763.0,52423,21.474601
5,Alabama,AL,total,2011,4801627.0,52423,91.593900
6,Alabama,AL,total,2009,4757938.0,52423,90.760506
7,Alabama,AL,under18,2009,1134192.0,52423,21.635389
8,Alabama,AL,under18,2013,1111481.0,52423,21.202163
9,Alabama,AL,total,2013,4833722.0,52423,92.206131
10,Alabama,AL,total,2007,4672840.0,52423,89.137211
11,Alabama,AL,under18,2007,1132296.0,52423,21.599222
12,Alabama,AL,total,2008,4718206.0,52423,90.002594
13,Alabama,AL,under18,2008,1134927.0,52423,21.649410
14,Alabama,AL,total,2005,4569805.0,52423,87.171757
15,Alabama,AL,under18,2005,1117229.0,52423,21.311810
16,Alabama,AL,total,2006,4628981.0,52423,88.300574
17,Alabama,AL,under18,2006,1126798.0,52423,21.494344
18,Alabama,AL,total,2004,4530729.0,52423,86.426359
19,Alabama,AL,under18,2004,1113662.0,52423,21.243767
20,Alabama,AL,total,2003,4503491.0,52423,85.906778
21,Alabama,AL,under18,2003,1113083.0,52423,21.232722
22,Alabama,AL,total,2001,4467634.0,52423,85.222784
23,Alabama,AL,under18,2001,1120409.0,52423,21.372470
24,Alabama,AL,total,2002,4480089.0,52423,85.460370
25,Alabama,AL,under18,2002,1116590.0,52423,21.299620
26,Alabama,AL,under18,1999,1121287.0,52423,21.389218
27,Alabama,AL,total,1999,4430141.0,52423,84.507583
28,Alabama,AL,total,2000,4452173.0,52423,84.927856
29,Alabama,AL,under18,2000,1122273.0,52423,21.408027
...,...,...,...,...,...,...,...
2418,Wyoming,WY,total,2003,503453.0,97818,5.146834
2419,Wyoming,WY,under18,2003,124182.0,97818,1.269521
2420,Wyoming,WY,total,2004,509106.0,97818,5.204625
2421,Wyoming,WY,under18,2004,123974.0,97818,1.267395
2422,Wyoming,WY,total,2002,500017.0,97818,5.111707
2423,Wyoming,WY,under18,2002,125495.0,97818,1.282944
2424,Wyoming,WY,total,2001,494657.0,97818,5.056912
2425,Wyoming,WY,under18,2001,126212.0,97818,1.290274
2426,Wyoming,WY,total,2000,494300.0,97818,5.053262
2427,Wyoming,WY,under18,2000,128774.0,97818,1.316465
2428,Wyoming,WY,total,1999,491780.0,97818,5.027500
2429,Wyoming,WY,under18,1999,130793.0,97818,1.337106
2430,Wyoming,WY,total,1997,489452.0,97818,5.003701
2431,Wyoming,WY,under18,1997,134328.0,97818,1.373244
2432,Wyoming,WY,under18,1998,132602.0,97818,1.355599
2433,Wyoming,WY,total,1998,490787.0,97818,5.017349
2434,Wyoming,WY,under18,1996,135698.0,97818,1.387250
2435,Wyoming,WY,total,1996,488167.0,97818,4.990564
2436,Wyoming,WY,total,1995,485160.0,97818,4.959823
2437,Wyoming,WY,under18,1995,136785.0,97818,1.398362
2438,Wyoming,WY,under18,1994,137733.0,97818,1.408054
2439,Wyoming,WY,total,1994,480283.0,97818,4.909965
2440,Wyoming,WY,under18,1992,137308.0,97818,1.403709
2441,Wyoming,WY,total,1992,466251.0,97818,4.766515
2442,Wyoming,WY,total,1993,473081.0,97818,4.836339
2443,Wyoming,WY,under18,1993,137458.0,97818,1.405242
2444,Wyoming,WY,total,1991,459260.0,97818,4.695046
2445,Wyoming,WY,under18,1991,136720.0,97818,1.397698
2446,Wyoming,WY,under18,1990,136078.0,97818,1.391135
2447,Wyoming,WY,total,1990,453690.0,97818,4.638103

In [30]:
#排序，并找出人口密度最高的五个州 df.sort_values()